requests==2.25.0
-e git+https://github.com/datapolitical/paprika-exporter.git@v0.4.1#egg=papexp
-e git+https://github.com/datapolitical/mndexp.git@v0.2.0#egg=mndexp
python-dotenv==0.15.0
PyYAML>=5.4
feedparser==6.0.10
inlinehashes==0.0.5
