@font-face
  font-family: 'Fira Sans'
  src: local('Fira Sans'), local('FiraSans-Regular'), url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Fira Sans'
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap') format('truetype')
  font-weight: bold
  font-style: normal
