---
layout: page
title: "My Cocktails"
---

<ul>
{% for file in site.data.drinks %}
{% assign cocktail = file[1] %} {% assign cocktail_stub = file[0] %}  {% comment %} The assign is needed, because we have different json files!{% endcomment %}
  <li><strong><a href="drinks/{{ cocktail.name | downcase | replace: " ", "-" | remove: "(" | remove: ")" | remove: "'" | remove: "&" | remove: "!" | remove: "’" | remove: ","  }}.html">{{ cocktail.name }}</a></strong> - {{ cocktail.description }}</li>
{% endfor %}
</ul>
