---
layout: page
---
<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">
{% if page.print_stylesheet %}
	<link rel="stylesheet" media="print" href="{{ site.baseurl }}/css/print.css">
{% endif %}

<div id="search-searchbar" background-color="{{ site.dark }}" color="white"></div>
	<div class=post-list" id="search-hits">
		<ul>
	    {% for file in site.data.drinks %}
	    {% assign cocktail = file[1] %} {% assign cocktail_stub = file[0] %}  {% comment %} The assign is needed, because we have different json files!{% endcomment %}
	      <div class="post-item">
	        <li>
	        	<h2>
	         		<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
	        	</h2>
	  			<strong><a href="drinks/{{ cocktail_stub }}.html">{{ cocktail.name }}</a></strong> - {{ cocktail.description }}
	  		</li>
	      </div>
	    {% endfor %}
	    <ul>
	</div>
</div>
